* {
    margin: 0px;
    padding: 0px;
}

.btn-primary {
    border-radius: 5px;
    background: #E55473;
    border: 0px;
    padding: 15px 35px 15px 35px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;

}

body {
    font-family: 'Lato', sans-serif;
}

/* banner Section start */
.header {
    background: rgba(229, 84, 115, 0.10);
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 0px 230px;
}

.banner-class {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    /* padding: 200px 970px 365px 240px; */
}

.banner-description {
    margin-top: 32px;
    margin-bottom: 32px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;


}

.banner-container .banner-img {
    width: 635px;
    height: 800px;
}

/* Flower featured starts */
.flower-info {
    width: 1440px;
    margin: 0px auto;
}

.featured {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 180px;
}

.featured-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;

    margin-bottom: 48px;
}

.flowerbox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 240px 0px 240px;
}

.box1 {
    border-radius: 350px 350px 0px 0px;
    padding: 20px;
    background: rgba(5, 151, 160, 0.15);
    margin-right: 24px;
    padding-bottom: 0px;
}

.flower1 {
    width: 370px;
    height: 370px;
    align-items: center;
    padding: 117px 47px 51px 47px;
}

.box2 {
    border-radius: 350px 350px 0px 0px;
    padding: 20px;
    background: rgba(167, 33, 98, 0.15);
    margin-right: 24px;
    padding-bottom: 0px;

}

.flower2 {
    width: 310px;
    height: 430px;
    align-items: center;
    padding: 110px 78px 0px 78px;

}

.box3 {
    border-radius: 350px 350px 0px 0px;
    padding: 20px;
    background: rgba(71, 125, 17, 0.15);
    padding-bottom: 0px;


}

.flower3 {
    width: 314px;
    height: 471px;
    padding: 65px 75px 0px 75px;
}

.flower-names {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.flower-name {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
    margin-bottom: 128px;
}
.extra1{
    margin-left: 90px;
}
.extra2{
    margin-right: 90px;
}

/* Icon section */
.new-section {
    border-radius: 5px;
    background: rgba(39, 39, 39, 0.05);
    margin-top: 128px;
    padding: 100px;
    width: 1370px;
    margin: 0px auto;
    padding-bottom: 170px;
}

.options {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icons {
    text-align: center;
    width: 88px;
    height: 88px;

}

.icon-description {
    color: rgba(39, 39, 39, 0.80);
    font-size: 18px;
    font-weight: 600;
}

/* Offer section starts */
.offer {
    display: flex;
    align-items: center;
    justify-content: space-around;


}

.color {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 100px 0px 100px 0px;
    margin-top: 128px;

}

.offer-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
    text-align: center;

}

.offer-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;
}

span {
    color: #E55473;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.another{
    margin-top: 10px;
}

/* Instagram */
.soical {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 130px;
}

.soical-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;

}

.soical-flower {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px 450px;
    gap: 30px;
}

/* Subscribe section */
.Subscribe-section {
    margin-top: 130px;
}


.subscribe-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}

.subscribe-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}

.Subscribe-section {
    background-image: url('/Flower Asset/Rectangle 9.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 130px;
    padding: 100px 150px;

}

form {
    display: flex;
    justify-content: center;
    align-items: center;

}

input {
    padding: 18px 22px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    border-radius: 3px;
    border: 0px;

}

input[type="email"] {
    width: 700px;
    margin-right: 5px;

}

/* Footer section */
footer {
    background-color: black;
    width: 1922px;
    height: 449px;
    margin-top: 130px;
}

.footer-title {
    color: white;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-top: 130px;
}

.footer-section {
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer-discription {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}

.copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 50px;
}